/* Write your CSS here */
.filter-list {
  list-style-type: none;
}

.filter-btn {
  outline: none;
  background-color: transparent;
  padding: 5px 1rem;
  border: none;
  font-weight: 500;
  font-family: roboto;
}

.active-filter {
  border: 1px solid green;
  border-radius: 1.5rem;
}
